@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #282a36;
  --gray: #44475a;
  --comment: #6272a4;
  --white: #f8f8f2;
  --blue: rgb(139, 233, 253);
  --green: #50fa7b;
  --purple: rgb(189, 147, 249);
  --pink: #ff79c6;
  --red: #ff5555;
  --yellow: #f1fa8c;
  --orange: #ffb86c;
}

::-moz-selection {
  color: var(--purple);
  background-color: var(--gray);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #debcfe;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* *******************************************    Navbar CSS ********************* */
.doerHead{
  font-family: "Raleway",cursive;
}


h1{
  font-family: 'Rogue Script', sans-serif;
}

.btn {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  color: #333;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.2em;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .1);
  margin: 20px;
}

#sidenav {
  width: 80%;
  max-width: 300px;
  min-height: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #673AB7, #5E35B1);
  left: -300px;
  transition: left .35s;
}

.sidenav-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.1);
  left: 100%;
  top: 0;
  z-index: 1;
  cursor: default;
  /* overflow-y: visible; */
}

#sidenav:target {
  left: 0;
}

#sidenav:target+.sidenav-overlay {
  left: 0;
}

ul {
  list-style: none;
  height: 100%;
  overflow: auto;
}

.center {
  text-align: center;
}

.user {
  padding: 20px;
  position: relative;
}

.user img {
  width: 150px;
  border-radius: 50%;
}

.user p {
  color: #eee;
  padding: 10px 0;
}

.divider {
  padding: 0;
  height: 1px;
  background: #7e57c2;
}

.title {
  color: #b39ddb;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 20px;
  padding-bottom: 10px;
}

.item {
  background: transparent;
  transition: background .35s;
}

.item a {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  padding: 20px;
  padding-left: 30px;
  width: 100%;
}

.item.active,
.item:hover {
  background: rgba(0, 0, 0, .1);
}


