{% extends 'base.html' %}

{% block title %} Followers {% endblock %}

{% block style %} 
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div>
        <h1>Your Followers</h1>
        <ul>
            {% for follower in profile_page %}
                <li>
                    <a href="/accounts/profile/{{follower.user.username}}">
                        {{follower.user.username}}
                    </a>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="profile_id" value="{{follower.id}}">
                        <input type="submit" value="Remove">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagination">
        <span class="step-links">
            <a href="?page=1">first</a>
            {% if profile_page.has_previous %}
                <a href="?page={{ profile_page.previous_page_number }}">previous</a>
            {% else %}
                <a href="">previous</a>
            {% endif %}

            <span class="current">
                Page {{ profile_page.number }} / {{ profile_page.paginator.num_pages }}.
            </span>

            {% if profile_page.has_next %}
                <a href="?page={{ profile_page.next_page_number }}">next</a>
            {% else %}
                <a href="">next</a>
            {% endif %}
            <a href="?page={{ profile_page.paginator.num_pages }}">last </a>
        </span>
    </div>
    {% else %}
        <p>You cant see this without logging in <a href="/accounts/login">here</a> silly</p>
    {% endif %}
{% endblock %}