{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block style %} 
{% endblock %}

{% block content %}
    {% if profile %}
    <div>
        <img src="/media/{{profile.dp}}" alt="" height="200" width="200">
        
        <h1> 
            {{profile.user.username}} 
            <span> 
                {% if owner %}
                <a href="/accounts/profile/"><button>Edit</button></a>
                {% endif %}
            </span>
        </h1>

        <h3>{{profile.user.first_name}} {{profile.user.last_name}}</h3>
        <p>Created : {{profile.created}}</p>
        <p>Last edited : {{profile.edited}}</p>
        <p>{{profile.about|linebreaks}}</p>

        

        {% if request.user.is_authenticated %}
            <form action="" method="post"> 
                {% csrf_token %}
                {% if followed %}
                    <input type="submit" value="Unfollow">
                {% else %}
                    <input type="submit" value="Follow">
                {% endif %}
            </form>
            
            <div>
                <h2>Public Entries - <span>{{public_entries|length}}/{{tot_entries}}</span> </h2>

                <ul>
                    {% for entry in public_entries|slice:":10" %}
                        <li><a href="/entry/{{entry.id}}/"><b>{{entry.title}}</b></a> - {{entry.created}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2>Following : {{profile.following.all|length}}</h2>
                <ul>
                    {% for person in profile.following.all|slice:":10" %}
                        <li><a href="/accounts/profile/{{person.user.username}}">{{person.user.username}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div>
                <h2>Followers : {{profile.followers.all|length}}</h2>
                <ul>
                    {% for person in profile.followers.all|slice:":10"  %}
                        <li><a href="/accounts/profile/{{person.user.username}}">{{person.user.username}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            
        {% else %}
            <p>To follow people or see the followers/following you need to login <a href="/accounts/login">here</a></p>
        {% endif %}

        
    </div>
    {% else %}
    <div>
        User doesn't exist
    </div>
    {% endif %}
{% endblock %}