{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block style %} 
{% endblock %}

{% block content %}
    {% if profile %}
    <div>
        <img src="/media/{{profile.dp}}" alt="" height="200" width="200">
        <h1> {{profile.user.username}} </h1>
        <h3>{{profile.user.first_name}} {{profile.user.last_name}}</h3>
        <span>Last edited : {{profile.edited}}</span>
        <p>{{profile.about|linebreaks}}</p>


        {% if request.user.is_authenticated %}
            <form action="" method="post"> 
                {% csrf_token %}
                {% if followed %}
                    <input type="submit" value="Unfollow">
                {% else %}
                    <input type="submit" value="Follow">
                {% endif %}
            </form>
            
            <div>
                <h2>Following : {{profile.following.all|length}}</h2>
                <ul>
                    {% for follower in profile.following.all|slice:":10" %}
                        <li>{{follower.user.username}}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div>
                <h2>Followers : {{profile.followers.all|length}}</h2>
                <ul>
                    {% for follower in profile.followers.all|slice:":10"  %}
                        <li>{{follower.user.username}}</li>
                    {% endfor %}
                </ul>
            </div>

            
        {% else %}
            <p>To follow people or see the followers/following you need to login <a href="/accounts/login">here</a></p>
        {% endif %}

        
    </div>
    {% else %}
    <div>
        User doesn't exist
    </div>
    {% endif %}
{% endblock %}