{% extends 'base.html' %} 
{% block title %} Dashboard {% endblock %} 

{% block style %}
{% endblock %}
{% block content %} 
{% if user.is_authenticated %}
    <div class="entries">
            {% if entries %}
            <h1>Groupless entries <span>({{entries|length}})</span></h1>
            {% for entry in entries %}
            <div class="entry">
                <a href="/entry/{{entry.id}}/">{{entry}}</a>
            </div>
            {% endfor %}
        {% endif %}
        <a href="/entry/new/" class="new-entry"><button>New Entry</button></a>
    </div>
{% else %}
    <div class="warn">
        You Need to <a href="/accounts/login">login</a> in need to see your groupings
        and entries
    </div>

{% endif %} 
{% endblock %}