{% extends 'base.html' %}

{% block title %} Feed {% endblock %}

{% block style %}
<style>
    .bot-left {
        position: absolute;
        left:5px;
        bottom: 5px;
    }
</style>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% for entry in entries %}
            <div>
                <h3><a href="/entry/{{entry.id}}">{{entry.title}}</a> </h3>
                {% if entry.image %}
                    <img src="/media/{{entry.image}}">
                {% endif %}
                {% if entry.content %}
                    <p>{{entry.content}}</p>
                {% endif %}

                <b>- <a href="/accounts/profile/{{entry.user.username}}/">{{entry.user.username}}</a></b>
            </div>
            <br>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                <a href="?page=1">first</a>
                {% if profile_page.has_previous %}
                    <a href="?page={{ profile_page.previous_page_number }}">previous</a>
                {% else %}
                    <a href="">previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ profile_page.number }} / {{ profile_page.paginator.num_pages }}.
                </span>
    
                {% if profile_page.has_next %}
                    <a href="?page={{ profile_page.next_page_number }}">next</a>
                {% else %}
                    <a href="">next</a>
                {% endif %}
                <a href="?page={{ profile_page.paginator.num_pages }}">last </a>
            </span>
        </div>



    {% else %}
        <div class="warn">
            You Need to <a href="/accounts/login">login</a> in need to see entries of your followers
        </div>
    {% endif %}
{% endblock %}