<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/media/css/base.css">
    {% block style %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>

<body>
    <nav>
        <div class="search">
            <form  action="/accounts/search/">
                <input type="text" class="input" name="query" onmouseout="this.value = ''; this.blur();" placeholder="search entries...">
                <i class="fas fa-search"></i>
                <input type="submit" hidden>
            </form>
        </div>

        <div class="dash"><a class="active" href="/dash">Dash</a></div>
        <div class="feed"><a class="active" href="/feed">Feed</a></div>

        <div class="user"> 
            {% if user.is_authenticated %}
                <a href="/accounts/profile">{{user.username}}</a>
            {% else %}
                <a href="/accounts/login">Login</a>
            {% endif %}
        </div>

    </nav>
    
        <div class="groupings">
            {% if user.is_authenticated %}
                <div class="grouping-head">
                    <div>GROUPINGS</div>

                    <a href="/grouping/new/" class="new-grouping">
                        <i class="fa-solid fa-square-plus"></i>
                    </a>
                </div>
                
                {% if groupings %} 
                    {% for grouping in groupings %}
                    <a href="/grouping/{{grouping.id}}">
                    <div class="grouping">
                        <span class="grouping-name">{{grouping.title}}</span>
                        <span class="number">{{grouping.num_entries}}</span>
                    </div>
                    <hr>
                    </a> 
                    
                    {% endfor %} 
                {% else %}
                    <div>No groupings yet</div>
                {% endif %}
            {% else %}
                <div>Login first to see your groupings</div>
            {% endif %}
        </div>
    

        {% block content %}
        {% endblock %}
</body>

</html>







    